@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: "Inter", sans-serif;
}

.mono {
  font-family: "Space Mono", monospace;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

html {
  scroll-behavior: smooth;
}
